h1 {
    font-size: 84px;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #1D2D3F;
}

h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -0.02em;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #1D2D3F;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 1.4;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #1D2D3F;
}

h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #1D2D3F;
}

p {
    color: #848484;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

span {
    color: #FD8D1E;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}

label {
    color: #1D2D3F;
}

select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 16px;
    cursor: pointer;
    padding: 0 6px;
    margin-right: 6px;
}