.button {
    font-size: 16px;
    font-weight: 400;
    padding: 20px 36px;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
}

.primaryButton {
    border: 1px solid #0b8552;
    background-color: #0b8552;
    color: #fff;
}

.primaryButton:hover {
    background-color: #fff;
    color: #0b8552;
}