footer {
    background-color: #F3F5F6;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.footerQuote {
    width: 30%;
}

.footerLogoWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.companyLogo {
    width: 80px;
    height: 80px;
}

.logoUnipd {
    width: 60px;
    height: 60px;
    margin-top: 4px;
}

.copyright a {
    margin-bottom: 6px;
    color: #848484;
    text-decoration: underline;
}