.loginInWrapper {
    display: flex;
    flex-direction: column;
}

.loginForm {
    width: 100%;
}

.formItem {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 16px;
}

.formItem:last-child {
    margin-bottom: 0;
}

.formItem label {
    font-size: 14px;
    font-weight: 500;
    color: #1D2D3F;
    margin-bottom: 8px;
}

input {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 16px;
    padding: 10px;
}

input:focus {
    background-color: #fff;
    border-color: #0b8552;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #0b855242;
}

input[type=radio] {
    accent-color: #0b8552;
    cursor: pointer;
}

textarea {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 16px;
    padding: 10px;
    height: 150px;
}

textarea:focus {
    background-color: #fff;
    border-color: #0b8552;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #0b855242;
}

.nameWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nameWrapper .formItem {
    width: 46%;
    margin-bottom: 16px;
}
