.mainHeader {
    margin-top: 30px;
}

.navContaienr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 60px;
}

.logo img {
    max-width: 60px;
    width: 100%;
    max-height: 60px;
    height: 100%;
}