.sideBar {
    width: 320px;
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    border-right-width: 1px;
    border-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

.sideBar nav {
    margin-top: 20px;
    padding: 16px;
}

.sideBar ul {

}

.sideBar li {
    display: flex;
}

.sideBar a {
    width: 100%;
    line-height: 48px;
    margin-top: 8px;
    padding: 0 16px;
    font-size: 20px;
    letter-spacing: 0.2px;
    font-weight: 600;
    color: #718096;
    border-radius: 12px;
}

.sideBar a:hover {
    color: #1D2D3F;
    background-color: #E2E8F0;
}

.sideBar a:focus {
    color: #1D2D3F;
    background-color: #E2E8F0;
}