.authWrapper {
    max-width: 800px;
    width: 100%;
    height: 414px;
    display: flex;
    background-color: #fff;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px;
}

.formContainer {
    width: 50%;
    padding-right: 30px;
}

.authLogoContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid #7777772b;
    padding-left: 30px;
}

.authLogoContainer a {
    margin: 0 auto 20px;
}

.authLogoContainer a img {
    width: 160px;
    height: 160px;
}

.authLogoContainer p {
    font-size: 14px;
}

.selectWrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}