.accountContacts {
    width: 100%;
    padding: 20px;
    background-color: #f8fafc;
}

.profileContacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B8552;
    border-radius: 8px;
}

.contactsWrapper form {
    background-color: #fff;
    padding: 24px;
    border-radius: 0 7px 7px 0;
}

.contacts {
    border-radius: 8px 0 0 8px;
    padding: 16px 24px;
}

.contacts ul li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contacts ul li i {
    font-size: 24px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    margin-right: 10px;
}

.contacts ul li a {
    color: #fff;
}