.accountMain {
    width: 100%;
    padding: 20px;
    background-color: #f8fafc;
}

.accountHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 24px;
    margin-bottom: 60px;
}

.accountHeader h2 {
    font-size: 30px;
    font-weight: 600;
}

.exchangeWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exchangeForm .formItem {
    flex-direction: row !important;
    margin-top: 6px;
}

.exchangeForm label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.exchangeContainer {
    width: 28%;
    padding: 16px 24px;
    border-radius: 8px;
    background: #ffff;
}

.exchangeContainer h3 {
    margin-bottom: 30px;
}

.transactionsContainer {
    width: 70%;
    padding: 16px 24px;
    border-radius: 8px;
    background: #ffff;
}