.headerContainer {
    display: flex;
    justify-content: flex-end;
}

.headerContainer a {
    margin-right: 8px;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 130px;
}

.welcomeText {
    width: 50%;
}

.welcomeText h1 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.bannerWrapper {
    display: flex;
    justify-content: center;
    background-color: #0B8552;
    width: 40%;
    border-radius: 16px;
}

.bannerWrapper img {
    width: 350px;
    height: 620px;
}

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 130px;
}

.bannerSection2 {
    display: flex;
    justify-content: left;
    width: 60%;
}

.bannerSection2 img {
    max-width: 560px;
    width: 100%;
    max-height: 560px;
    height: 100%;
}

.exploreText {
    width: 40%;
}

.exploreText h2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.exploreText button {
    margin-top: 46px;
}

.section3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 130px;
}

.section3 .exploreText {
    width: 30%;
}

.featuresWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 65px;
    row-gap: 65px;
    width: 60%;
}

.feature {
    display: flex;
    justify-content: space-between;
}

.feature img {
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 12px;
}

/*Error page*/

.errorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8fafc;
    height: 100vh;
}

.errorContainer {
    max-width: 600px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
}

.errorContainer i {
    font-size: 70px;
    color: red;
}

.errorContainer h4 {
    margin-bottom: 10px;
}

.errorContainer a {
    text-decoration: underline;
    color: #3761F9;
}