.accountProfile {
    width: 100%;
    padding: 20px;
    background-color: #f8fafc;
}

.profileWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContainer {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 24px;
}