.balanceHeader {
    padding: 16px 24px;
    border-radius: 8px;
    background: #ffff;
}

.balanceWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkoutFormContainer {
    width: 28%;
    padding: 16px 24px;
    border-radius: 8px;
    background: #ffff;
}

.checkoutFormContainer h3 {
    margin-bottom: 30px;
}

.infoCoinCointainer {
    width: 70%;
    padding: 16px 24px;
    border-radius: 8px;
    background: #ffff;
}